<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="lib/style.min.css">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Google Analytics I -->
	<script>
	var _gaq = _gaq || [];
	_gaq.push(
		['_require', 'inpage_linkid', '//www.google-analytics.com/plugins/ga/inpage_linkid.js'],
		['_setAccount', 'UA-37754087-1'],
		['_trackPageview']
	);
	</script>
</head>
<body data-spy="scroll" data-target="#bookindex" data-offset="250">

	<aside id="topnav" class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">{{title}}</a>
				<nav>
					<ul class="nav">
						<li><a href="http://dpf.dk/produkt/b%C3%B8ger/8393/homo-digitalis">Køb bogen</a></li>
						<li><a href="/#Natasha">Om forfatteren</a></li>
						<li><a href="kilder.html">Kilder</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</aside>

	<div class="container">

		<section id="slide1">
			<img src="img/homodigitalis-9788777068393-3d.png" alt="{{title}}">
		</section>
		
		<section id="bookexcerpt" class="row">

			<div class="span4">
				<nav id="bookindex">
					<ol class="nav nav-list">
						<li><a href="#Forord">Forord</a></li>
						<li><a href="#Personerne-bag-interviewene">Personerne bag interviewene</a></li>
						<li class="nav-header">1. del</li>
						<li><a href="#Det-digitale-landskab">Det digitale landskab</a></li>
						<li class="nav-header">2. del</li>
						<li><a href="#Individet">Individet</a></li>
						<li><a href="#Den-sociale-adfaerd">Den sociale adfærd</a></li>
						<li><a href="#Samfund-i-bevaegelse">Samfund i bevægelse</a></li>
						<li class="nav-header">3. del</li>
						<li><a href="#Organisationers-sociale-transformation">Organisationers sociale transformation</a></li>
						<li><a href="#Digital-entrepreneurship">Digital entrepreneurship</a></li>
						<li>Afslutning</li>
						<li><a href="#Digitale-tendenser">Digitale tendenser</a></li>
						<li>Konklusion</li>
						<li>Forfatterens tak</li>
						<li>Noter</li>
						<li>Litteratur</li>
						<li><a href="#Bagsiden">Om bogen</a></li>
					</ol>
				</nav>
			</div>
			
			<div class="span8">
				<article itemscope itemtype="http://schema.org/Book">
				{{#book}}

					<hgroup>
						<h1 itemprop="name">{{name}}</h1>
						<h2 itemprop="description" class="lead">{{description}}</h2>
					</hgroup>
					
					<meta itemprop="isbn" content="978-87-7706-839-3">
					<meta itemprop="author" content="Natasha Friis Saxberg">
					<meta itemprop="publisher" content="Dansk Psykologisk Forlag">
					<meta itemprop="numberOfPages" content="256">
					<meta itemprop="inLanguage" content="da">
					<meta itemprop="datePublished" content="2013-02-01">
					<meta itemprop="image" content="/media/9788777068393_480.jpg">
			
					<section itemprop="text" id="Forord">
						{{{forord}}}
					</section>

					<section itemprop="text" id="Personerne-bag-interviewene">
						{{{persons}}}
					</section>

					<section itemprop="text" id="Det-digitale-landskab">
						{{{digiland}}}
					</section>

					<section itemprop="text" id="Individet">
						{{{individual}}}
					</section>

					<section itemprop="text" id="Den-sociale-adfaerd">
						{{{socialism}}}
					</section>

					<section itemprop="text" id="Samfund-i-bevaegelse">
						{{{society}}}
					</section>

					<section itemprop="text" id="Organisationers-sociale-transformation">
						{{{corps}}}
					</section>

					<section itemprop="text" id="Digital-entrepreneurship">
						{{{entrepreneur}}}
					</section>

					<section itemprop="text" id="Digitale-tendenser">
						{{{tendensies}}}
					</section>

					<section itemprop="text about" id="Bagsiden">
						{{{backside}}}
					</section>

				{{/book}}
				</article>
			</div>
			
		</section>

	</div>
	
	<footer id="Natasha">
		<div class="container">

			<div class="row" itemscope itemtype="http://schema.org/Person">
				<div class="span8">
					<h1 class="lead" itemprop="name">Natasha Friis Saxberg</h1>
					<p><span itemprop="givenName">Natasha</span> er <span itemprop="jobTitle">rådgiver</span>, <span itemprop="jobTitle">entrepreneur</span>, <span itemprop="jobTitle">forfatter</span> og <span itemprop="jobTitle">foredragsholder</span> om digitale medier. Gennem sit virke arbejder hun i spydspidsen af den digitale udvikling med adgang til de nyeste globale teknologier og trends. Hun skrev den første danske Twitter-bog, <a href="http://www.twitterbogen.dk/" rel="me">Twitter! - massekommunikation på 140 tegn</a> (2009), er associeret hos <span itemprop="affiliation">Copenhagen Institute for Futures Studies</span> og har arbejdet med den teknologiske udvikling siden 1996 som leder og forandringsagent i store nationale og internationale organisationer.</p>
					<p>Natasha Friis Saxberg er direktør og stifter af <a href="http://www.gignal.com/" rel="me">Gignal</a>, som præsenterer indhold på tværs af sociale netværk på virksomheders hjemmesider og på storskærme til events.</p>
					<ul class="nav nav-pills">
						<li><a href="http://natasha.saxberg.dk/" rel="me" itemprop="url">natasha.saxberg.dk</a></li>
						<li><a href="tel:+4523901797"><span itemprop="telephone">+45 23901797</span></a></li>
						<li><a href="mailto:natasha@saxberg.dk" itemprop="email">natasha@saxberg.dk</a></li>
						<li><a href="http://www.linkedin.com/in/saxberg" rel="me">LinkedIn</a></li>
						<li class="hide"><a href="https://plus.google.com/107429763602135454170?rel=author" rel="me">G+</a></li>
						<li><a href="https://twitter.com/saxberg" rel="me">Twitter</a></li>
					</ul>
				</div>
				<div class="span3 offset1">
					<img src="img/NatashaSaxberg.jpeg" alt="Natasha Friis Saxberg" itemprop="image">
				</div>
			</div>

		</div>
	</footer>

	<!-- scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script src="lib/app.min.js"></script>
	<!-- Google Analytics II -->
	<script src="//www.google-analytics.com/ga.js" async="async"></script>

</body>
</html>
