body {
	background-color: #f5f6f7;
	padding-top: 50px;
}

footer {
	margin-top: 20px;
	background-color: #000;
	color: #ddd;
	padding: 50px;
	a {
		color: #fff;
	}
}

#slide1 {
	margin: 25px auto;
	text-align: center;
	img {
		width: 847px;
		height: 673px;
	}
}

#bookindex {
	margin-top: 20px;
	.affix {
		top: 70px;
	}
}

#sources {
	margin-top: 20px;
	div {
		column-count: 3;
		column-gap: 20px;
		-moz-column-count: 3;
		-moz-column-gap: 20px;
		-webkit-column-count: 3;
		-webkit-column-gap: 20px;
	}
}

#natasha {
	margin-top: 20px;
}